@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl md:text-6xl mb-6 md:mb-12;
  }

  h2,
  h3 {
    @apply text-2xl md:text-4xl my-6 md:my-12;
  }

  h1::before,
  h2::before {
    @apply mr-4 dark:text-blue-400 text-blue-400;
    content: "#";
  }

  h3::before {
    @apply mr-4 dark:text-blue-400 text-blue-400;
    content: "<>";
  }

  .task::before {
    @apply ml-2 dark:text-blue-400 text-blue-400;
    content: "<> ";
  }

  #eigenschaften::before {
    content: "<> ";
    @apply dark:text-blue-400 text-blue-400;
    font-size: 1.2rem;
    ;
    /* Hier die gewünschte Schriftgröße in Pixeln oder anderen Einheiten einfügen */
  }

  #eigenschaften {
    font-size: 1.2rem;
    @apply text-sm sm:text-xl md:text-2xl
  }








  p {
    @apply my-4 leading-relaxed;
    text-align: justify;
  }

  u:hover {
    text-decoration: none;
  }

  h1+p {
    @apply first-letter:text-4xl md:first-letter:text-6xl first-letter:font-bold;
  }

  #textkleiner{
    @apply swuptransition-fade text-half-sm sm:text-xl md:text-2xl
  }

  pre {
    @apply text-lg md:text-xl rounded-lg my-8 p-3;
  }

  #toc {
    @apply xl:float-right xl:w-1/2 xl:ml-8;
  }

  #toc>ul {
    @apply border-2 border-dark dark:border-light rounded-xl my-8 py-2 px-4 text-base md:text-xl;
  }

  #toc li {
    @apply my-2 mx-4 list-disc;
  }

  p>a,
  li>a {
    @apply text-blue-700 dark:text-blue-400 hover:underline;
  }

  p>code {
    @apply dark:bg-blue-400 bg-blue-400 dark:text-light text-dark rounded-lg px-2 whitespace-nowrap;
  }
}

.swuptransition-fade {
  transition: 0.4s;
  opacity: 1;
  transform: none;
}

html.is-animating .swuptransition-fade {
  opacity: 0;
  transform: translateY(20px);
}


@media (max-width: 768px) {

  /* CSS, der angezeigt werden soll, wenn die Breite gleich oder kleiner als 768px ist, geht hier hin */
  #whatsapplink {
    width: 250px;
    transform: translateY(-10px);
  }
}

@media (max-width: 640px) {

  /* CSS, der angezeigt werden soll, wenn die Breite gleich oder kleiner als 640px ist, geht hier hin */
  #whatsapplink {
    width: 100px;
    transform: translateY(-10px);
  }
}

@media (min-width: 768px) {

  /* CSS, der angezeigt werden soll, wenn die Breite größer als 768px ist, geht hier hin */
  #whatsapplink {
    width: 300px;
    transform: translateY(-17px);
  }
}


/* CSS */
body {
  transition: background-color 0.75s ease;
  /* Definiere den Übergang für die Hintergrundfarbe */
}

.dark-bg-light {
  background-color: #1a202c;
  /* Dunkler Hintergrund */
}

.bg-white {
  background-color: #ffffff;
  /* Weißer Hintergrund */
}






/* Footer Styles */
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 20px 0; /* Abstand oben und unten */
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Weitere Anpassungen */
.footer a {
  margin: 0 5px;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; /* Hauptinhalt dehnt sich aus */
}



@media (max-width: 767px) {
  #footer {
    @apply mt-20 mb-20;
  }
}





#tetrisCanvas {
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #f0f0f0;
  border: 2px solid #000;
}


#specialfooter {
  transform: translateY(-100%);
  bottom: 0;
}











.wrap-input-8 .input {
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
  background-color: 
#f5f6fd;
  border: 1px solid 
#ccc; 
  padding: 7px 14px 9px; 
  transition: 0.4s;
}

.wrap-input-8 .input:focus {
  outline: none;
}

.wrap-input-8 {
  width: 30%;
  margin: 40px 3%;
  position: relative;
}

.wrap-input-8 .input ~ .focus-border:before,
.wrap-input-8 .input ~ .focus-border:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: 
#6c5dd3;
  transition: 0.3s;
}
.wrap-input-8 .input ~ .focus-border:after {
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
}
.wrap-input-8 .input ~ .focus-border i:before,
.wrap-input-8 .input ~ .focus-border i:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 0;
  background-color: 
#6c5dd3;
  transition: 0.4s;
}
.wrap-input-8 .input ~ .focus-border i:after {
  left: auto;
  right: 0;
  top: auto;
  bottom: 0;
}
.wrap-input-8 .input:focus ~ .focus-border:before,
.wrap-input-8 .input:focus ~ .focus-border:after {
  width: 100%;
  transition: 0.3s;
}
.wrap-input-8 .input:focus ~ .focus-border i:before,
.wrap-input-8 .input:focus ~ .focus-border i:after {
  height: 100%;
  transition: 0.4s;
}





body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.progress-bar {
  @apply bg-halfdark dark:bg-gray-400;
  position: fixed;
  right: 20px;
  top: 10%;
  bottom: 10%; /* adjust the value to match your footer height */
  width: 5px;
  z-index: 100;
  border-radius: 5px;
  transition: opacity 0.3s; /* add transition for opacity */
}

.progress-bar.fading-out {
  opacity: 0;
}

.progress {
  @apply bg-white dark:bg-black;
  position: absolute;
  width: 100%;
  height: 0;
  border-radius: 5px;  /* Runde Kanten */
}

.checkpoints {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.checkpoint {
  @apply dark:bg-gray-400 bg-halfdark;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition: transform 0.3s, background-color 0.3s;
}

.checkpoint span {
  @apply text-white dark:text-black;
  position: absolute;
  font-size: 20px;
  left: -15px;
  bottom: -11px;
  margin-right: 100px;
}

.checkpoint.active {
  @apply bg-white dark:bg-black;
  transform: scale(1.5);
}


