---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Maxim - About">
  <div class="layout">


    <a href="/Extras">
      <div class="mb-0">
        <div id="img">
          <img
            src={"/icons/brandenburger-tor-dark.svg"}
            class="transition-transform duration-300 transform hover:scale-105 rotate-12 absolute right-10 bottom-0 w-20 h-20 hidden xl:block xl:w-52 xl:h-52 xl:top-96 xl:translate-y-80 xl:-translate-x-52 2xl:w-72 2xl:h-72 2xl:top-96 2xl:translate-y-52 2xl:-translate-x-52"/>
        </div>
      </div>
    </a>
    
      <h1
        id="dynamic-text1"
        class="transition-transform duration-300 transform hover:scale-105 -mt-20 md:mt-0"
      >
      </h1>

      <p>
Hi! Ich bin Maxim, 21 Jahre alt und studiere Computer Engineering an der Technischen Universität Berlin. Nach meinem Bachelorabschluss befinde ich mich nun im Masterstudium und vertiefe meine Kenntnisse rund um Hard- und Software. Schon seit meiner Jugend beschäftige ich mich intensiv mit Technologie, insbesondere mit Computern. Das Zusammenstellen und Aufrüsten von PCs für Freunde, Bekannte und mich selbst hat mir viele praktische Erfahrungen ermöglicht. Diese Leidenschaft für Technik hat mich schließlich dazu motiviert, mein Hobby zum Beruf zu machen.
      </p>
      <p>
        Was mich an der Informatik fasziniert, ist ihre kontinuierliche
        Weiterentwicklung und ihre Vielfältigkeit. Informatik ist nie
        langweilig, da es immer etwas Neues zu entdecken gibt. Diese Breite des
        Fachgebietes führte mich dazu, Computer Engineering zu studieren und
        meinen Weg in die IT-Branche zu suchen.
      </p>

    <h2
      id="dynamic-text2"
      class="mt-20 ssm:mt-20 sm:mt-40 md:mt-40 lg:mt-60 xl:mt-80 transition-transform duration-300 transform hover:scale-105"
    >
    </h2>
    <p class="mb-20">
      Nach drei sehr theoretischen Semestern meines Studiums in Berlin habe ich
      mich dazu entschlossen, in meiner Heimatstadt Naumburg einen
      Computer-Reparaturdienst anzubieten. Neben dem Studium möchte ich
      praktische Erfahrungen sammeln, die mir sowohl beruflich als auch
      persönlich weiterhelfen. Mein Schwerpunkt im Studium liegt neben
      Informatik auch auf Elektrotechnik. Diese Kombination ermöglicht es mir,
      mein theoretisches Wissen direkt in der Praxis anzuwenden und meine
      Fähigkeiten weiter zu entwickeln.
    </p>

    <div class="mb-20" style={`position: relative; height: 400px;`}>
      <div id="img2">
        <img
          src={"/icons/fernsehturm-dark.svg"}
          class="transition-transform duration-300 transform hover:scale-105 -rotate-12 absolute hidden xl:block xl:w-52 xl:h-52 xl:-bottom-48 xl:left-42 2xl:w-72 2xl:h-72 2xl:-bottom-48 2xl:left-24"
        />
      </div>

      <h2
        id="dynamic-text3"
        class="mt-32 ssm:mt-20 sm:mt-40 md:mt-52 lg:mt-60 xl:mt-40 transition-transform duration-300 transform hover:scale-105"
      >
      </h2>
      <p class="">
        Ja, dank der Digitalisierung ist es mir möglich, von zuhause aus zu
        arbeiten und meine Aufgaben online zu erledigen. Somit habe ich als
        Student die Flexibilität, meine Zeit selbst zu managen und sowohl meinem
        Studium in Berlin als auch meinem Computer-Service in Naumburg gerecht
        zu werden.
      </p>
    </div>

    <h2
      id="dynamic-text4"
      class="-mt-36 ssm:-mt-48 sm:-mt-10 md:mt-40 lg:mt-60 xl:mt-40 xl:text-right transition-transform duration-300 transform hover:scale-105"
    >
    </h2>
    <p class="mb-20">
      Anstatt bei einem Systemintegrator oder ähnlichen anzufangen, entschied
      ich mich für die Selbstständigkeit. Naumburg fehlt es an modernen
      Reparatur-Services, und die Selbstständigkeit ermöglicht es mir, mein
      eigener Arbeitsgeber zu sein und meine Arbeitsweise selbst zu bestimmen.
      Zudem schätze ich den direkten Kontakt mit Kunden und die
      Herausforderungen, die jeder Fall mit sich bringt.
    </p>

    <h2
      id="dynamic-text5"
      class="mt-36 ssm:mt-0 sm:mt-36 md:mt-40 lg:mt-60 xl:mt-40 transition-transform duration-300 transform hover:scale-105"
    >
    </h2>
    <p class="-mb-10 sm:mb-10">
      Neben den technischen Aspekten ist mir der Umgang mit Menschen besonders
      wichtig. Neue Menschen kennenzulernen und ihnen bei ihren technischen
      Problemen zu helfen, bereitet mir Freude und erweitert meinen Horizont.
      Ich freue mich darauf, egal ob Privatpersonen oder kleines Unternehmen,
      meinen Kunden in Naumburg und Umgebung bei ihren Computerproblemen zu
      unterstützen.
    </p>

    <script src="../js/themeHandler.js"></script>
    <script src="../js/pageHandler.js"></script>


  </div>
</Layout>
