---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <h1 id="dynamic-text1"></h1>
  <p>
    Hi! Ich bin Maxim, 20 Jahre alt und studiere Computer Engineering an der Technischen Universität Berlin. Derzeit befinde ich mich im vierten Semester und stehe kurz vor meinem Bachelor-Abschluss. Schon seit meiner Jugend habe ich mich intensiv mit Technologie beschäftigt, insbesondere mit Computern. Das Zusammenstellen von Computern für Freunde, Bekannte und mich selbst ermöglichte es mir, umfangreiche praktische Erfahrungen zu sammeln. Diese Leidenschaft für Technik hat mich dazu inspiriert, mein Hobby zum Beruf zu machen.
  </p>
  <p>
    Was mich an der Informatik fasziniert, ist ihre kontinuierliche Weiterentwicklung und ihre Vielfältigkeit. Informatik ist nie langweilig, da es immer etwas Neues zu entdecken gibt. Diese Breite des Fachgebietes führte mich dazu, Computer Engineering zu studieren und meinen Weg in die IT-Branche zu suchen.
  </p>

  <h2 id="dynamic-text2" class="mt-20"></h2>
  <p>
    Nach drei sehr theoretischen Semestern meines Studiums in Berlin habe ich mich dazu entschlossen, in meiner Heimatstadt Naumburg einen Computer-Reparaturdienst anzubieten. Neben dem Studium möchte ich praktische Erfahrungen sammeln, die mir sowohl beruflich als auch persönlich weiterhelfen. Mein Schwerpunkt im Studium liegt neben Informatik auch auf Elektrotechnik. Diese Kombination ermöglicht es mir, mein theoretisches Wissen direkt in der Praxis anzuwenden und meine Fähigkeiten weiter zu entwickeln.
  </p>

  <h2 id="dynamic-text3" class="mt-20"></h2>
  <p>
    Ja, dank der Digitalisierung ist es mir möglich, von zuhause aus zu arbeiten und meine Aufgaben online zu erledigen. Somit habe ich als Student die Flexibilität, meine Zeit selbst zu managen und sowohl meinem Studium in Berlin als auch meinem Computer-Service in Naumburg gerecht zu werden.
  </p>

  <h2 id="dynamic-text4" class="mt-20"></h2>
  <p>
    Anstatt bei einem Systemintegrator anzufangen, entschied ich mich für die Selbstständigkeit. Naumburg fehlt es an modernen Reparatur-Services, und die Selbstständigkeit ermöglicht es mir, mein eigener Arbeitsgeber zu sein und meine Arbeitsweise selbst zu bestimmen. Zudem schätze ich den direkten Kontakt mit Kunden und die Herausforderungen, die jeder Fall mit sich bringt.
  </p>

  <h2 id="dynamic-text5" class="mt-20"></h2>
  <p>
    Neben den technischen Aspekten ist mir der Umgang mit Menschen besonders wichtig. Neue Menschen kennenzulernen und ihnen bei ihren technischen Problemen zu helfen, bereitet mir Freude und erweitert meinen Horizont. Ich freue mich darauf, egal ob Privatpersonen oder kleines Unternehmen, meinen Kunden in Naumburg und Umgebung bei ihren Computerproblemen zu unterstützen.  </p>
  
  <script>
    const divs = document.querySelectorAll("[id^='dynamic-text']");

divs.forEach(div => {
  let text = "";
  
  if (div.id === "dynamic-text1") {
    text = "Wer bin ich?";
  }
  if (div.id === "dynamic-text2") {
    text = "Der Schritt in die Selbstständigkeit neben dem Studium";
  }
  if (div.id === "dynamic-text3") {
    text = "Studium in Berlin und gleichzeitig selbständig in Naumburg?";
  }
  if (div.id === "dynamic-text4") {
    text = "Warum die Selbstständigkeit?";
  }
  if (div.id === "dynamic-text5") {
    text = "Menschliche Verbindung im Fokus";
  }
  if (div.id === "dynamic-text6") {
    text = "Was biete ich an?";
  }
  if (div.id === "dynamic-text7") {
    text = "Was mache ich?";
  }
  if (div.id === "dynamic-text8") {
    text = "Was spricht für mich?";
  }

    function textTypingEffect(element, text, i=0) {
      element.textContent += text[i];
      if (i === text.length - 1) {
        return;
      }
      setTimeout(() => textTypingEffect(element, text, i + 1), 50);
    }

    textTypingEffect(div, text);
    });
  </script>
</Layout>
