---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Maxim - AGB">
    <div class="layout">
        <h1>Allgemeine Geschäftsbedingungen</h1>

        <h2>1. Geltungsbereich</h2>
        <p>
            Diese Allgemeinen Geschäftsbedingungen (AGB) gelten für alle
            Verträge, die zwischen Maxim Mjakinin, (im Folgenden “Anbieter”) und
            seinen Kunden (im Folgenden “Kunde”) über die Erbringung von
            PC-Dienstleistungen abgeschlossen werden.
        </p>

        <h2>2. Vertragsgegenstand</h2>
        <p>
            Der Anbieter erbringt folgende Dienstleistungen:
            <ul>
                <li>Konfiguration der Systemdateien</li>
                <li>Installation der System- und Anwendungssoftware</li>
                <li>
                    Strukturierte Verkabelung für die Vernetzung von
                    Computeranlagen
                </li>
                <li>
                    Zusammenstellen der Hardware aus Modulen sowie der
                    Modulaustausch
                </li>
                <li>Auswechseln von Verschleißteilen</li>
                <li>
                    Technische Erweiterung durch den nachträglichen Einbau von
                    Teilen
                </li>
                <li>
                    Entsorgung und Recycling veralteter bzw. defekter Hardware
                </li>
            </ul>
        </p>

        <h2>3. Vertragsschluss</h2>
        <p>
            Ein Vertrag kommt zustande, wenn der Kunde das Angebot des Anbieters
            annimmt. Dies kann schriftlich, mündlich oder durch schlüssiges
            Handeln geschehen. Der Anbieter behält sich das Recht vor, Aufträge
            abzulehnen, insbesondere wenn die notwendigen technischen
            Voraussetzungen für die Erbringung der Dienstleistung nicht gegeben
            sind. Mit der Annahme des Auftrages durch PC-Service Maxim Mjakinin
            ist ein Vertrag mit dem Kunden zustande gekommen. Gegenstand des
            Vertrages sind ausschließlich die auszuführenden Arbeiten. Der
            Auftragnehmer verpflichtet sich zu einer gewissenhaften und
            umsichtigen Arbeitsweise. Eine Erfolgsgarantie muss aufgrund der bei
            Computersystemen vorzufindenden Vielzahl der möglichen
            Konfigurationen und der damit verbundenen denkbaren Probleme
            grundsätzlich ausgeschlossen werden. Aufgrund der Komplexität der
            auftretenden Probleme sowie der Beschaffenheit der Hard- und
            Software können wir, in der Regel, keine verbindlichen Angaben über
            den zeitlichen Umfang eines Auftrages machen. Alle Angaben hierzu
            sind circa Angaben.
        </p>

        <h2>4. Preise und Zahlungsbedingungen</h2>
        <p>
            Die Preise für die Dienstleistungen richten sich nach der aktuellen
            Preisliste des Anbieters. Zahlungen sind sofort nach
            Rechnungsstellung ohne Abzug fällig. Der Anbieter behält sich das
            Recht vor, Vorauszahlungen zu verlangen.
        </p>

        <h2>5. Leistungszeitraum</h2>
        <p>
            Die Erbringung der Dienstleistungen erfolgt innerhalb des
            vereinbarten Zeitraums. Verzögerungen aufgrund höherer Gewalt oder
            anderer unvorhersehbarer Ereignisse, die der Anbieter nicht zu
            vertreten hat, verlängern die Leistungsfrist entsprechend.
        </p>

        <h2>6. Dienstleistungstermine</h2>
        <p>
            Termine sind unverbindlich, sofern nicht ausdrücklich schriftlich
            etwas anderes vereinbart wurde. Sämtliche Dienstleistungstermine,
            die mit dem Kunden vereinbart wurden, beziehen sich auf den Beginn
            der Dienstleistung. Die Durchführung der Dienstleistung erfolgt
            hiernach innerhalb angemessener Zeit. Von dieser Regelung
            abweichende individuelle Vereinbarungen mit dem Kunden bleiben davon
            unberührt. Später erteilte Zusatz- und Erweiterungsaufträge, die die
            Durchführung unserer Dienstleistungen beeinflussen, verlängern den
            Termin entsprechend.
        </p>

        <h2>7. Annahmeverzug</h2>
        <p>
            Ist der Kunde nicht unter der von ihm angegebenen Adresse
            auffindbar, so gerät der Kunde mit der Abnahme der Leistung in
            Verzug. Er hat PC-Service Maxim Mjakinin dann die, durch die
            vergebliche Anfahrt entstandenen, Mehraufwendungen zu ersetzen. Für
            die Dauer des Annahmeverzuges des Kunden ist PC-Service Maxim
            Mjakinin berechtigt, die Liefergegenstände auf Gefahr des Kunden
            einzulagern. Falls der Kunde nach Ablauf einer ihm gesetzten
            Nachfrist die Annahme der Liefergegenstände verweigert oder erklärt,
            die Ware nicht abnehmen zu wollen, kann PC-Service Maxim Mjakinin
            die Erfüllung des Vertrages verweigern und Schadensersatz wegen
            Nichterfüllung verlangen. PC-Service Maxim Mjakinin ist berechtigt,
            als Schadensersatz entweder pauschal 20% des vereinbarten
            Kaufpreises oder den Ersatz des effektiv entstandenen Schadens vom
            Kunden zu fordern.
        </p>

        <h2>8. Haftung und Gewährleistung</h2>
        <p>
            Die Gewährleistung für von uns gelieferte Produkte richtet sich nach
            den gesetzlichen Bestimmungen für Neuwaren. Für gebrauchte Ware wird
            keine Gewährleistung übernommen. Im Falle von auftretenden Mängeln,
            die auf fehlerhafte Installation des Kunden oder eines Dritten, auf
            Bedienungsfehler oder auf Eingriffe in die Ware oder Änderungen der
            Produkte durch den Kunden oder einen hierzu nicht berechtigten
            Dritten sowie auf äußere Einwirkung auf die Produkte zurückzuführen
            sind, wird keine Gewährleistung übernommen. Der Anbieter haftet nur
            für Schäden, die auf vorsätzlichem oder grob fahrlässigem Verhalten
            beruhen. Für leichte Fahrlässigkeit haftet der Anbieter nur bei
            Verletzung wesentlicher Vertragspflichten. Die Gewährleistungsfrist
            beträgt 12 Monate ab Erbringung der Dienstleistung. Der Anbieter
            haftet nicht für Datenverluste des Kunden, es sei denn, diese sind
            auf grobe Fahrlässigkeit oder Vorsatz des Anbieters zurückzuführen.
            Der Kunde ist verpflichtet, vor Beginn der Arbeiten eine
            vollständige Datensicherung durchzuführen. Hat der Kunde gegenüber
            dem Anbieter Gewährleistungsansprüche geltend gemacht und stellt
            sich heraus, dass entweder kein Mangel vorgelegen hat oder der
            geltend gemachte Mangel auf einem Umstand beruht, der uns nicht zur
            Gewährleistung verpflichtet, so hat der Kunde dem Anbieter alle
            hierdurch entstandenen Kosten zu ersetzen, sofern er unsere
            Inanspruchnahme zu vertreten hat.
        </p>

        <h2>9. Eigentumsvorbehalt</h2>
        <p>
            Wir behalten uns das Eigentum an allen verwendeten Zubehör-, Ersatz-
            und Austauschteilen sowie sonstigen gelieferten Waren
            (Vorbehaltsware) bis zum Eingang aller Zahlungen aus dem
            Vertragsverhältnis mit dem Kunden vor.
        </p>

        <h2>10. Zahlung</h2>
        <p>
            Ist vor Auftragsausführung nichts anderes vereinbart worden, so sind
            alle Dienstleistungen sofort in bar zu zahlen. Eine Zahlung gilt
            erst dann als erfolgt, wenn PC-Service Maxim Mjakinin über den
            Betrag verfügen kann.
        </p>

        <h2>11. Datenschutz</h2>
        <p>
            Der Kunde willigt ein, dass firmen- und personenbezogene Daten zu
            internen Verwaltungszwecken und aus statistischen Gründen erhoben
            und genutzt werden dürfen. Es werden grundsätzlich keine Daten durch
            PC-Service Maxim Mjakinin an Dritte weitergegeben. PC-Service Maxim
            Mjakinin verpflichtet sich darüber hinaus zur Verschwiegenheit im
            Bezug auf Daten und anderen Informationen, die im Rahmen der
            Servicetätigkeit offenbart werden. Der Kunde ist verpflichtet,
            sämtliche ihm im Zusammenhang mit den Lieferungen und Leistungen von
            PC-Service Maxim Mjakinin zugänglich werdenden Informationen,
            insbesondere eindeutig als Geschäfts- oder Betriebsgeheimnisse von
            PC-Service Maxim Mjakinin erkennbare Informationen, unbefristet
            vertraulich zu halten und diese weder aufzuzeichnen, noch an Dritte
            weiterzugeben oder in irgendeiner anderen Weise zu verwerten.
        </p>

        <h2>12. Gerichtsstand und Anwendbares Recht</h2>
        <p>
            Gerichtsstand für alle Streitigkeiten aus Rechtsbeziehungen zwischen
            PC-Service Maxim Mjakinin und dem Kunden ist am Ort des Sitzes von
            PC-Service Maxim Mjakinin bzw. das zuständige Amtsgericht am
            Wohnsitz des Inhabers. Für alle Rechtsbeziehungen zwischen
            PC-Service Maxim Mjakinin und dem Kunden findet ausschließlich das
            Recht der Bundesrepublik Deutschland Anwendung.
        </p>

        <h2>13. Schlussbestimmungen</h2>
        <p>
            Sollten einzelne oder mehrere Bestimmungen dieser Allgemeinen
            Geschäftsbestimmungen unwirksam sein bzw. unwirksam werden, oder
            eine Regelungslücke enthalten, so verpflichten sich die
            Vertragsparteien in Verhandlungen mit dem Ziel einzutreten, die
            unwirksame oder unvollständige Bestimmung durch eine angemessene
            Individualabrede zu ersetzen oder zu ergänzen, die dem
            wirtschaftlichen Zweck der gewollten Regelung weitestgehend
            entspricht. Die Gültigkeit der übrigen Bestimmungen bleibt davon
            unberührt.
        </p>
    </div>
</Layout>
