---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";

---

<Layout title="Maxim - Angebote">
  <h1 id="dynamic-text6"></h1>
  <p>
    Aktuell konzentriere ich mich hauptsächlich auf PCs, plane aber, mein Leistungsspektrum schrittweise zu erweitern. Wenn Sie hier gelandet sind und Ihr Gerät derzeit nicht wie gewünscht funktioniert, zögern Sie nicht, mich zu kontaktieren. Beschreiben Sie mir Ihr Problem, und gemeinsam finden wir eine Lösung. Von der Erstellung maßgeschneiderter Systeme bis hin zur Optimierung bestehender Systeme biete ich alles, was Sie benötigen, um Ihren Computer zukunftsweisend und effizient nutzen zu können - unabhängig davon, ob er für den beruflichen oder persönlichen Gebrauch bestimmt ist.

    Weiterhin finden Sie außerdem eine detaillierte Liste der von mir angebotenen Dienstleistungen. Von der Fehlerbehebung bis zur Hardwareaufrüstung stehe ich Ihnen mit Fachwissen und Engagement zur Seite.
  </p>

  <div class="border-2 dark:border-dark border-light p-0 rounded-xl text-center mt-20">
    <div class="dark:bg-halfdark bg-light dark:text-light text-dark rounded-t-md py-2 rounded-b-none">
      <h2><strong>PC-Beratung</strong></h2>
      <details>
        <summary><u>Klicken Sie hier für weitere Informationen</u></summary>
        <ul>
          <li class="py-4 text-left ml-10 mr-10" style="text-align: justify;">
            Unsicher, welcher PC für Sie geeignet ist? Oder wissen Sie nicht genau, welches Angebot Sie benötigen? Keine Sorge, ich biete kostenlose PC-Beratung an. Teilen Sie mir einfach mit, für welchen Anwendungszweck Sie Ihren Rechner nutzen möchten, wo das Problem liegt und wie groß Ihr Budget ist. Gemeinsam finden wir die optimale Lösung für Ihre Bedürfnisse.
          </li>
        </ul>
      </details>
    </div>
    <div class="py-4 text-left">
      <p>
        <span class="task">PC-Beratung</span><span style=" font-weight: bold; float: right;">KOSTENLOS &nbsp;</span><br>
        <span class="task">All-in-One PC Kauf und Installation</span><span style="float: right;">Preis variiert&nbsp;</span>
      </p>
    </div>
  </div>

  <div class="border-2 dark:border-dark border-light p-0 rounded-xl text-center mt-20">
    <div class="dark:bg-halfdark bg-light dark:text-light text-dark rounded-t-md py-2 rounded-b-none">
      <h2><strong>All-in-One CheckUp</strong></h2>
        <ul>
          <li class="py-4 text-left ml-10 mr-10" style="text-align: justify;">
            Wenn Sie nicht wissen, wo Sie anfangen sollen und Ihren Computer schnell und unkompliziert wieder nutzen möchten, ist das All-in-One Paket die ideale Lösung, um Ihren Rechner wieder auf Vordermann zu bringen.</li>
        </ul>
    </div>
    <div class="py-4 text-left">
      <p>
        <span class="task">Komplett-Check</span><span style="float: right;">80,00 €&nbsp;</span><br>
      </p>
    </div>
  </div>

  <div class="border-2 dark:border-dark border-light p-0 rounded-xl text-center mt-20">
    <div class="dark:bg-halfdark bg-light dark:text-light text-dark rounded-t-md py-2 rounded-b-none">
      <h2><strong>Betriebssystem und Treiber</strong></h2>
      <details>
        <summary><u>Klicken Sie hier für weitere Informationen</u></summary>
        <ul>
          <li class="py-4 text-left ml-10 mr-10" style="text-align: justify;">
            Wenn Ihr System Schwierigkeiten bereitet, eine Beschleunigung benötigt oder eine Aktualisierung auf eine neuere Version wünscht, kann eine vollständige Neuinstallation oder Wiederherstellung des Betriebssystems eine lohnende Option sein. Zur Gewährleistung einer reibungslosen Funktionalität aller Ihrer Geräte ist die direkte Installation der erforderlichen Treiber von entscheidender Bedeutung.</li>
        </ul>
      </details>
    </div>
    <div class="py-4 text-left">
      <p>
        <span class="task">Windows Installation</span><span style="float: right;">ab 40,00 €&nbsp;</span><br>
        <span class="task">Mac OS X Installation</span><span style="float: right;">ab 40,00 €&nbsp;</span><br>
        <span class="task">Treiber Installation</span><span style="float: right;">insklusive&nbsp;</span><br>
      </p>
    </div>
  </div>
  
  
  <div class="border-2 dark:border-dark border-light p-0 rounded-xl text-center mt-20">
    <div class="dark:bg-halfdark bg-light dark:text-light text-dark rounded-t-md py-2 rounded-b-none">
      <h2><strong>Hardware-Reparaturen und Wartung</strong></h2>
      <details>
        <summary><u>Klicken Sie hier für weitere Informationen</u></summary>
        <ul>
          <li class="py-4 text-left ml-10 mr-10" style="text-align: justify;">

            Wenn Ihr PC nur noch einen schwarzen Bildschirm zeigt, ungewöhnlich heiß ist, sehr laut ist, oder nicht mehr die gewohnte Leistung erbringt, ist es Zeit, nach der Ursache zu suchen.<br>
            Oft liegt das Problem an einer physischen Ursache. Bei Hochleistungscomputern kann es sich lohnen, alle 1-2 Jahre die Wärmeleitpaste zu erneuern, um die Leistungsfähigkeit zu optimieren.<br>
          </li>
        </ul>
      </details>
    </div>
    <div class="py-4 text-left">
      <p>
        <span class="task">Hardware Wartung</span><span style="float: right;">ab 30,00 €&nbsp;</span><br>
        <span class="task">Ersatzteile Einbau/Umtausch</span><span style="float: right;">Preis variiert&nbsp;</span><br>
        <span class="task">Wärmeleitpaste Wechsel</span><span style="float: right;">40,00 €&nbsp;</span><br>
      </p>
    </div>
  </div>
  


  <div class="border-2 dark:border-dark border-light p-0 rounded-xl text-center mt-20">
    <div class="dark:bg-halfdark bg-light dark:text-light text-dark rounded-t-md py-2 rounded-b-none">
      <h2><strong>Virusentfernung und Datensicherung</strong></h2>
      <details>
        <summary><u>Klicken Sie hier für weitere Informationen</u></summary>
        <ul>
          <li class="py-4 text-left ml-10 mr-10" style="text-align: justify;">

            Wenn Sie auf Ihrem Computer Programme oder Dateien entdecken, die nicht von Ihnen stammen, könnte Ihr Gerät von einem Virus befallen sein. In solchen Fällen ist es wichtig, Ihren PC mit einem zuverlässigen Antivirenprogramm auszustatten und gründliche Bereinigungen durchzuführen.<br>

            Auch wenn Ihr Gerät bereits den Geist aufgegeben hat, besteht oft die Möglichkeit, wichtige Daten von der Festplatte zu retten und auf einem neuen Gerät zu nutzen.<br>

            Mit Hilfe von <span style="background-color: blue; color: white; padding: 2px; border-radius: 5px;"><strong><b>TeamViewer</b></strong></span> ist es möglich Ihren PC fernzusteuern und Softwareprobleme kontaktlos beheben, damit Sie schnell wieder arbeitsfähig sind. Laden Sie sich den Client dazu <a href="https://download.teamviewer.com/download/TeamViewerQS_x64.exe" target="_blank" style="text-decoration: underline;">hier</a> herunter.
          </li>
        </ul>
      </details>
    </div>
    <div class="py-4 text-left">
      <p>
        <span class="task">Virusentfernung und Schutzmaßnahmen</span><span style="float: right;">ab 40,00 €&nbsp;</span><br>
        <span class="task">Datensicherung</span><span style="float: right;">ab 30,00 €&nbsp;</span><br>
        <span class="task">Systembereinigung</span><span style="float: right;">ab 30,00 €&nbsp;</span><br>
        <span class="task">Fernwartung</span><span style="float: right;">ab 30,00 €&nbsp;</span>
      </p>
    </div>
  </div> 
  
</Layout>
<br/><br/><br/><br/><br/><br/><br/><br/>
<Footer />
