---
import Layout from "../layouts/Layout.astro";
import SpecialFooter from "../components/SpecialFooter.astro";
---

<Layout title="Maxim - Extras">
    <div id="input" class="flex flex-col items-center mt-40">
        <h2 class="mb-14" id="text">Gib den Code ein:</h2>
        <div class="flex">
            <input
                type="text"
                id="userInput"
                placeholder=" Enter Code"
                class="text-dark mr-2"
            />
            <button
                id="submitButton"
                class="dark:bg-dark bg-white text-black dark:text-white"
                >Submit</button
            >
        </div>
    </div>



    <div id="snooker" class="hidden -mt-20 -mb-20">
        <div class="flex flex-col items-start">
            <div class="mt-10 rounded-2xl overflow-hidden bg-white" style="background-color: rgba(255, 255, 255, 0.7);">
                <h2 class="-mt-1 mb-2 text-dark" id="playernames">Gib die Spielernamen ein:</h2>
                <div class="flex items-center">
                    <input
                        type="text"
                        id="playerNamesInput"
                        placeholder="Spielernamen eingeben"
                        class="text-black mr-2 ml-4 border border-black"
                        maxlength="20"
                        size="30"
                        
                    />
                    <button
                        id="submitplayerButton"
                        class="text-black border border-black rounded-full p-2 text-3xl h-12 w-12 flex justify-center items-center leading-none"
                    >
                        +
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    
     <script src="../js/extras.js"></script>

    
    
    


    <p id="outputText" class="text-center">&nbsp;</p>


</Layout>

<div class="special-footer">
    <SpecialFooter />
</div>

