---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Maxim - Impressum">
    <h1>Impressum</h1>
    <h2>Angaben gemäß § 5 TMG</h2>
    <p>
        Maxim Mjakinin<br />
        Computerreparaturdienst<br />
        Grochlitzer Straße 41<br />
        06618 Naumburg(Saale)<br />
    </p>
    <h2>Kontakt</h2>
    <p>
        Telefon: +4917650478236<br />
        E-Mail: maxim.mjakinin@gmail.com<br />
    </p>
    <h2>EU-Streitschlichtung</h2>
    <p>
        Die Europäische Kommission stellt eine Plattform zur
        Online-Streitbeilegung (OS) bereit: https://ec.europa.eu/consumers/odr.<br
        />
        Unsere E-Mail-Adresse finden Sie oben im Impressum.
    </p>
    <h2>Verbraucher­streit­beilegung/Universal­schlichtungs­stelle</h2>
    <p>
        Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren
        vor einer Verbraucherschlichtungsstelle teilzunehmen.
    </p>

    <script src="../js/app.js"></script>
</Layout>
<Footer />
