---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";

---

<Layout title="Kontakt">
  <h2 id="Kontakt">Kontakt</h2>


  <p>
    <span style="font-weight:bold; float: left;">Email:</span> <u><span class="ml-20"><a href="mailto:maxim.mjakinin@gmail.com">maxim.mjakinin@gmail.com</a></span></u><br><br>
    <span style=" font-weight:bold; float: left;">Telefon:<u></span><span class="ml-20"><a href="tel:+4917650478236"> +49 176 504 78 236</a></span></u>
</p>

</Layout>
<br/><br/><br/><br/><br/><br/>
<Footer />
