---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---

<Layout title="Maxim - Kontakt">

  <div class="layout">
  <h1 id="dynamic-text9" class="transition-transform duration-300 transform hover:scale-105 -mt-20 md:mt-0"></h1>
  <p>
    Für eine unkomplizierte und einfache Kontaktaufnahme stehe ich Ihnen gerne
    zur Verfügung. Sie können mich auf dem Weg kontaktieren, der für Sie am
    besten passt, sei es per E-Mail, Telefon oder über soziale Medien. Ihre
    Anliegen sind mir wichtig, und ich werde schnellstmöglich darauf antworten,
    um sicherzustellen, dass wir Ihre Anliegen rasch und effizient lösen können.
    Zögern Sie nicht, mich zu kontaktieren – ich freue mich darauf, Ihnen
    weiterzuhelfen.
  </p>
  <br />

  <div class="flex flex-col xl:flex-row mt-5 lg:mb-20">
    <div class="w-full xl:w-1/2 mt-10 xl:-mt-10">
      <h2 class="transition-transform duration-300 transform hover:scale-105">Kontaktformular</h2>
      <form
        action="https://formspree.io/f/xnqegnaq"
        method="POST"
        class="rounded-lg"
      >
        <label for="name" class="block">Name:</label>
        <input
          type="text"
          id="name"
          name="name"
          required
          placeholder=" Vor- und Nachname"
          class="text-dark rounded-lg w-full"
        /><br />
        <label for="email" class="block">E-Mail:</label>
        <input
          type="email"
          id="email"
          name="_replyto"
          placeholder=" Ihre E-Mail Adresse"
          required
          class="text-dark rounded-lg w-full"
        /><br />
        <label for="message" class="block">Nachricht:</label>
        <textarea
          id="message"
          name="message"
          rows="4"
          placeholder=" Beschreiben Sie hier Ihr Problem"
          required
          class="text-dark rounded-lg w-full"></textarea><br />
        <br />
        <input
          type="submit"
          value="Senden"
          class="bg-blue-400 text-white rounded-lg w-full block mx-auto transition-transform duration-300 transform hover:scale-105 underline hover:no-underline"
        />
      </form>
    </div>

    <div class="w-full xl:w-9/12 2xl:w-1/2 mt-20 xl:-mt-10 mb-0 sm:mb-10 md:mb-0 ">
      <h2 class="xl:ml-20 transition-transform duration-300 transform hover:scale-105">Alternativ</h2>
      <p class="xl:ml-20 xl:mt-20">
        <span style="font-weight:bold; float: left;">Email:</span>
        <u
          ><span class="ml-20"
            ><a href="mailto:maxim.mjakinin@gmail.com"
              >maxim.mjakinin@gmail.com</a
            ></span
          ></u
        ><br /><br />
        <span style=" font-weight:bold; float: left;"
          >Telefon:<u></u><span class="ml-20"
            ><a href="tel:+4917650478236"> +49 176 504 78 236</a></span
          ></span
        ><br /><br />
        <span style="font-weight:bold; float: left;">WhatsApp:</span>
        <a
          id="whatsapplink"
          aria-label="Chat on WhatsApp"
          href="https://wa.me/17650478236?text=Hallo%2C%20ich%20habe%20folgendes%20Problem%20mit%20meinem%20Computer%3A"
          style="display: inline-block; vertical-align: middle;"
          class="ml-16 md:ml-10"
          ><img
            alt="Chat on WhatsApp"
            src={"/images/whatsapplight.png"}
            style="margin-top: 0;"
          /></a
        >
      </p>
    </div>
  </div>


<script src="../js/app.js"></script>
</div>
</Layout>