---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Unternehmen">
  <h1 id="dynamic-text7"></h1>
    <p>
        Ich habe dieses Unternehmen am 01. April 2024 eröffnet und mache mich damit selbstständig neben meinem Studium. Mein Fokus liegt auf IT-Dienstleistungen, speziell einem Computer Reparatur Service in Naumburg. Mein Ziel ist es, Menschen in Naumburg und Umgebung unkompliziert und effizient bei ihren Computerproblemen zu unterstützen. Darüber hinaus biete ich Schulungen an, um ihnen zu helfen, zukünftige Probleme zu vermeiden und ihre IT-Kenntnisse zu erweitern. Als Student der Computer Engineering an der Technischen Universität in Berlin bringe ich mein Fachwissen und meine Leidenschaft für Technologie in meine Arbeit ein.
    </p>
    <p>
        In einer Ära, in der die Digitalisierung unaufhaltsam voranschreitet, wird deutlich, wie unverzichtbar IT-Dienstleistungen geworden sind. Ein funktionierender Computer oder Laptop ist heute essentiell, um effektiv arbeiten zu können. Besonders mit dem Trend der künstlichen Intelligenz, mit dem früher oder später jeder interagieren wird, ist ein gut funktionierendes Gerät die Grundlage für produktive Arbeit. Es ist ebenso wichtig zu wissen, wie man mit diesen Geräten umgeht und sie effektiv nutzt. Mit Wissen aus Berlin und langjähriger Erfahrung bin ich, Maxim Mjakinin, Ihr Ansprechpartner für kosteneffiziente IT-Lösungen in Naumburg und Umgebung.
    </p>
    <h2 id="dynamic-text8"></h2>
    <div class="flex justify-between">
      <ul class="list-disc text-left ml-8">
        <li>Kostengünstige Reparaturen
        <li>Zuverlässiger Service
        <li>Transparente Preise
        <li>Professionelle Geräteberatung
        <li>Langfristige Kundenzufriedenheit
        <li>Flexibler Vor-Ort-Service
        <li>Fortlaufende Weiterbildung
        <li>Sichere Datenbehandlung
      </ul>
    </div>

    
            
</Layout>
