---
import { Icon } from "astro-icon";


export interface Props {
  url: string;
  title: string;

  external?: boolean;
}

const { url, title, external } = Astro.props;
---

<p class="m-0">
  <a
    href={url}
    target={external ? "_blank" : undefined}
    rel={external ? "noopener noreferrer" : undefined}
    class="inline-flex items-center rounded-lg border-2 border-solid dark:bg-dark dark:text-light p-2 px-4 md:py-2.5 md:px-6 font-semibold dark:hover:border-dark dark:hover:bg-transparent dark:hover:text-dark bg-light text-dark hover:border-light hover:bg-dark hover:text-light transition-transform duration-300 transform hover:scale-105"
  >
    <span>{title}</span>
    {
      external ? (
        <Icon name="ph:arrow-square-out" width="24" height="24" class="ml-2" />
      ) : (
        ""
      )
    }
  </a>
</p>
