---
// Überprüft, ob die aktuelle Seite die Startseite ist
const isIndex = Astro.url.pathname === "/";
---

{isIndex ? (
  // Nur das Impressum und Datenschutz anzeigen, wenn auf der Startseite
  <footer id="footer" class="footer swuptransition-fade text-half-sm sm:text-xl md:text-2xl bg-black bg-opacity-20 dark:bg-white dark:bg-opacity-20">
    <div class="footer-content flex items-center text-white dark:text-black">
      <p>&lt;</p>
      <a href="/Impressum" class="dark:text-blue-400 text-blue-400 hover:underline">Impressum</a>
      <p>/</p>
      <a href="/Datenschutz" class="dark:text-blue-400 text-blue-400 hover:underline">Datenschutz</a>
      <p>&gt;</p>
    </div>
  </footer>
) : (
  <>
  <footer id="footer" class="footer swuptransition-fade text-half-sm sm:text-xl md:text-2xl bg-black bg-opacity-20 dark:bg-white dark:bg-opacity-20 mt-40">
    <div class="footer-top flex flex-col lg:flex-row justify-between text-white dark:text-black mb-32">
      <div class="footer-block w-full lg:w-1/3 px-24 lg:px-20 mb-20 lg:mb-0">
        <h3 class="text-xl font-bold mb-2 text-center">Über mich</h3>
        <p class="mb-4 text-lg text-justify">Hier erfahren Sie, wie ich zur Computerreparatur kam und welche Motivation mich dazu bewegt, meinen Service in Naumburg anzubieten. Entdecken Sie die Hintergründe und die Werte, die mich antreiben.</p>
        <div class="text-left lg:text-center">
          <a href="/About" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 text-lg">Mehr lesen</a>
        </div>        
      </div>

      <div class="footer-block w-full lg:w-1/3 px-24 lg:px-20 mb-20 lg:mb-0">
        <h3 class="text-xl font-bold mb-2 text-center">Angebote</h3>
        <p class="mb-4 text-lg text-justify">Entdecken Sie die maßgeschneiderten Angebote, die genau auf Ihre Bedürfnisse abgestimmt sind. Hier finden Sie eine Übersicht der aktuellen Services, die Ihnen helfen, Ihre technischen Herausforderungen zu meistern.</p>
        <div class="text-left lg:text-center">
          <a href="/About" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 text-lg">Mehr lesen</a>
        </div>        
      </div>

      <div class="footer-block w-full lg:w-1/3 px-24 lg:px-20 mb-20 lg:mb-0">
        <h3 class="text-xl font-bold mb-2 text-center">Unternehmen</h3>
        <p class="mb-4 text-lg text-justify">Hier erfahren Sie, was meine selbstständige Tätigkeit besonders macht. Entdecken Sie die Werte und Arbeitsweise, die meine Arbeit im Bereich der Computerreparatur und IT-Service definieren.</p>
        <div class="text-left lg:text-center">
          <a href="/About" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 text-lg">Mehr lesen</a>
        </div>        
      </div>
    </div>

    <div class="footer-content flex items-center text-white dark:text-black mt-8">
      <p>&lt;</p>
      <a href="/Impressum" class="dark:text-blue-400 text-blue-400 hover:underline">Impressum</a>
      <p>/</p>
      <a href="/Datenschutz" class="dark:text-blue-400 text-blue-400 hover:underline">Datenschutz</a>
      <p>&gt;</p>
    </div>
  </footer>
  </>
)}
