---
import NavigationLinks from "../components/NavigationLinks.astro";
import NavigationSocialBar from "../components/NavigationSocialBar.astro";

const { title, description } = Astro.props;

---
<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon1.svg" />
    <title>{title}</title>
  </head>

<header>

<div class="flex items-center justify-end md:justify-between px-4 py-4 md:py-8 font-medium
relative xl:container md:mx-auto w-full xl:px-32">
  <nav class="hidden md:flex items-center justify-center gap-x-8 lg:text-2xl">
    <NavigationLinks />
  </nav>
  <nav class="flex items-center justify-center gap-x-5">
    <NavigationSocialBar />
  </nav>
</div>

</header>
