---
import NavigationSocial from "./NavigationSocial.astro";
import NavigationSocialIcon from "./NavigationSocialIcon.astro";
---
<NavigationSocial />
<div
  id="colorSwitch"
  class="hover:cursor-pointer dark:bg-dark bg-light rounded-full p-1"
>
  <img src="/icons/sun.svg" alt="sun" class="w-6 h-6" />
  
</div>
