---
import NavigationSocialIcon from "./NavigationSocialIcon.astro";
---
<NavigationSocialIcon
  icon="jam:ebay"
  url="https://www.kleinanzeigen.de/m-meine-anzeigen.html"
  title="kleinanzeigen"
/>
<NavigationSocialIcon
  icon="mdi:github"
  url="https://github.com/Mjakinin?tab=repositories"
  title="GitHub"
/>
<NavigationSocialIcon
  icon="ri:instagram-fill"
  url="https://www.instagram.com/maxim.mjakin/"
  title="Instagram"
/>
<NavigationSocialIcon
  icon="mdi:alternate-email"
  url="mailto:maxim.mjakinin@gmail.com"
  title="Email"
  target="_self"
/>
<div
  id="colorSwitch"
  class="hover:cursor-pointer dark:bg-dark bg-light rounded-full p-1"
>
  <img src="/icons/sun.svg" alt="sun" class="w-6 h-6" />
  
</div>
