---
import { Icon } from "astro-icon";

export interface Props {
  icon: string;
  title: string;
  target?: string;
  css?: string;
}

const { title, icon, target = "_blank", css } = Astro.props;


---

<a target={target} class=" relative group">
  <Icon
    name={icon}
    title={title}
    width="30"
    height="30"
    class={`relative ${css} top-0 group-hover:-top-1 transition-[top] ease duration-300`}
  />
</a>
