<div id="specialfooter" class="items-center swuptransition-fade text-half-sm sm:text-xl md:text-2xl" style="display: flex; justify-content: center;">
  <p>&lt;</p>
  <a href="/Impressum" class="dark:text-blue-400 text-blue-400 hover:underline">Impressum</a>
  <p>/</p>
  <a href="/Datenschutz" class="dark:text-blue-400 text-blue-400 hover:underline">Datenschutz</a>
  <p>&gt;</p>
</div>



