---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import NavigationMobile from "../components/NavigationMobile.astro";

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon1.svg" />
    <title>{title}</title>
  </head>
    
  <body class="font-mono dark:bg-light bg-dark dark:text-dark text-light">
    <main id="swup" class="swuptransition-fade text-half-sm sm:text-xl md:text-2xl">
      <Header />
      <article class="page">





        <!-- Google tag (gtag.js) -->
        <script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-8KQPMT3NVB"></script>
        <script type="text/partytown">
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'MEASUREMENT_ID');
        </script>





        <div id="popup-overlay"></div>
          <div id="popup" class="popup">
            <div class="popup-content">
              <span class="close-btn" onclick="closePopup()">&times;</span>
              <h2>Urlaubsankündigung</h2>
              <p>Ich bin derzeit im Urlaub und werde ab <b>01.09</b> zurück sein. In dringenden Fällen erreichen Sie mich unter <b>maxim.mjakinin@gmail.com</b> oder <b>WhatsApp</b> Vielen Dank für Ihr Verständnis.</p>
              <center>         
                <iframe src="https://giphy.com/embed/LmTLzybHur3EYTYsqI" width="270" height="480" style="" frameborder="0" class="giphy-embed hidden" allowfullscreen></iframe><p class="text-center hidden"><a href="https://giphy.com/gifs/seeyoulater-seeyousoon-merightnow-LmTLzybHur3EYTYsqI">via GIPHY</a></p>
              </center>
            </div>
          </div>


          <script src="https://unpkg.com/@swup/a11y-plugin@5"></script>



        <slot />
      </article>
      <Footer />
      <NavigationMobile />
    </main>
    <!-- <script src="../js/swup.js"></script>-->
     <script src="../js/pagetransition.js"></script>
    <script src="../js/urlaub.js"></script>
  </body>
</html>
<style is:global>
  @import "../styles/base.css";
</style>
