---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import NavigationMobile from "../components/NavigationMobile.astro";

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon1.svg" />
    <title>{title}</title>
  </head>
  
  <body class="font-mono dark:bg-light bg-dark dark:text-dark text-light">
    <main>
      <article id="swup" class="relative lg:container md:mx-auto w-full swuptransition-fade text-half-sm px-4 py-8 sm:text-xl md:text-2xl lg:px-32">
        <slot />
      </article>
      <NavigationMobile />
    </main>
  </body>
  
</html>
<style is:global>
  @import "../styles/base.css";
</style>
